.anticon svg {
    vertical-align: unset !important;
}

.ant-form-item-label {
    text-align: left !important;
}

.ant-btn-primary:focus {
    background-color: #1890ff !important;
    border-color: #1890ff !important;
}